body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-page {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: beige;
}

/* .header {
  font-size: 100px;
  color: green;
} */

/* .paragraph {
  font-size: 40px;
  color: red;
} */

.country-title {
  font-size: 20px;
  font-weight: bold;
}

.my-cars {
  font-size: 20px;
  font-weight: bold;
}

.form-container {
  max-width: 600px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  max-width: 200px;
  width: 100%;
}

button {
  background-color: #4caf50;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}
