.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: blanchedalmond;
  padding: 70px 0;
}

.counter-label {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  background-color: aliceblue;
  padding: 5px 30px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  min-width: 120px;

}

.action-btn {
  background-color: #4caf50;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
}

.reset-btn {
    border-radius: 10px;
    border: none;
    background-color: rgb(75, 74, 74);
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 10px;
}

.action-btn:hover {
  background-color: #45a049;
  font-weight: 600;
}
