.news-item-container{
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    padding: 50px 20px;
}

.news-item{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    max-width: 250px;
}

.news-item h2 {
    margin-top: 10px;
}

